{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundacion Pueblo</title>

<!--CUSTOM STYLES-->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
<div class="contenido">
    <header>
        <div class="contenido-header">
            <nav id="nav" class="">
                <ul id="links">
                    <li><a href="#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                    <li><a href="#aboutus" onclick="seleccionar(this)">QUIENES SOMOS</a></li>
                    <li><a href="#eventos" onclick="seleccionar(this)">EVENTOS</a></li>
                    <li><a href="#login" onclick="seleccionar(this)">INICIAR SESION</a></li>
                </ul>
            </nav>
            <!-- Inconos del menu responsive-->
            <div id="icono-nav" onclick="r`esponsiveMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    </div>


{% block contenido %}
{% endblock contenido %}
</body>
</html>