{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}

{% for e in eventos %}
<div class="card">
    <img src=" {% static 'img/logo.jpeg' %} " alt="logo">
    <div class="event-info">
        
        <p class="title">{{e.nombre}}</p>
        <div class="aditional-info">

            <p class="info">
                <i class="fa-solid fa-map-pin"></i> {{e.lugar}}
            </p>
            
            <p class="info">
                <i class="fa-solid fa-calendar-days"></i> {{e.fecha}}
            </p>


        </div>
    </div>
</div>
{% endfor %}
    
    
{% endblock contenido %}
    