{% extends 'base/base.html' %} {% block contenido %}
<section class="inicio">
  <div class="presentacion">
    <form class="form" method="post">
      {% csrf_token %}
      <h3>Inicia Sesión</h1>
        <input class= "form-control" type="text" name="username" placeholder="Nombre de Usuario" /> 
        <input class= "form-control" type="password" placeholder="Contraña" name="password" />
        <label> <input type="checkbox" value="remember-me" />Recordarme</label>
      <button class="button" type="submit">Entrar</button>

      <a href="{% url 'usuarios:registro' %}">
        <button type="button" class="btn btn-success">
          Crearte una cuenta
        </button></a>
    </form>
  </div>
</section>
{% endblock contenido %}
