@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,200;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat'; 

}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #6797ff;
    --white-color: #bfd1f2;



}


/* ESTILOS DEL INICIO */
.inicio {
    background: linear-gradient(
        to right top,
        #bfd1f2 0%,
        #bfd1f2 35%,
        #6797ff 35%,
        #6797ff 100%
    );
    background-size: cover;
    background-position: center center;
    height: 100vh;
}


.inicio .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.inicio .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.inicio .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}



/* ESTILOS DEL HEADER */
.contenido header {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
}

.contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

.contenido header .contenido-header nav ul a:hover {
    color: palevioletred;
}

.inicio .contenido header .contenido-header .seleccionado {
    color: #d87093;
}


/* ESTILOS DE FORMULARIO */

.form {
    width: 400px;
    background-color: #04015f;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    color: white;
    border: solid 2px;
}
.form h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    background-color: #7370af;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: solid 1px var(--white-color);
    font-size: 16px;
}


.form button {
    padding: 10px;
    background-color: var(--white-color);
    border: solid 1px #04015f;
    border-radius: 5px;
}




/* ESTILOS DE SECCION INICIO */



/*
#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("images/fondo.jpg");
    background: linear-gradient(
        to right,
        #06012e 0%,
        #06012e 35%,
        #ff5080 35%,
        #ff5080 100%
    );
    /*background-size: cover;*/
    /*background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: var(--color-rosa);
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: var(--color-rosa);
}
#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: var(--color-rosa);
} 

#inicio .contenido header .contenido-header .seleccionado {
    color: var(--color-rosa);
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 55px;
    color: var(--color-rosa);
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;

}

#inicio .contenido .presentacion a:hover {
    background-color: var(--color-rosa);
}

#icono-nav {
    color: #fff;
    display: none;

}

*/