{% extends 'base/base.html' %}


{% block contenido %}

<div id="registrarse" class="container mt-3">
    <h1 class="text-center text-uppercase" >CAMBIAR CONTRASEÑA</h1>
    <form method="POST">{% csrf_token %}
        
        {% include 'includes/error_forms.html' %}
        {% include 'includes/forms.html' %}

        <button type="submit" class="btn btn-success">Cambiar contraseña</button><a href="{% url 'usuarios:mi-perfil' %}"<button type="button" class="btn btn-danger">Cancelar</button></a>
    </form> 
</div>
    
    
{% endblock contenido %}

    