{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block contenido %}}
<div><div style="height:4px"></div><a href="{% url 'login' %}"><button type="button" class="boton">Volver</button></a></div><div style="height:4px"></div>
<div id="registrarse" class="container mt-3">
    <h1 class="text-center text-uppercase" >REGISTRARSE</h1>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        
        {% include 'includes/error_forms.html' %}
        {{ form|crispy}}
    <br>
     <button type="submit" class="btn btn-success">Crear cuenta</button>
    </form> 
</div>
    
{% endblock contenido %}
    